#index-page {
  background-color: #fff; /* White background */
  color: #000; /* Black text color */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Styling for the video */
#index-page .centered-video video {
  background-color: #fff; /* White background */
  width: 70%; /* Reduce the width to 50% */
  margin: auto; /* Center the video horizontally */
  display: block; /* Block level to center properly */
}

#index-page video {
  background-color: #fff; /* White background */
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio while filling the container */
}

/* General styling for body and header */
body {
  background-color: #fff;
  color: #fff;
  font-family: 'Arial', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
}

header nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

/* Styling for the animated cutscene section */
#animated-cutscene {
  position: fixed; /* Fixed position to cover the entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Hide anything outside the viewport */
  z-index: 9999; /* Ensure it's on top of other elements */
}

#animated-cutscene #intro-animation {
  position: absolute;
  top: calc(50% - 50px);
  left: 50%;
  width: 95%;
  height: 95%;
  transform: translate(-50%, -50%);
  object-fit: cover; /* Maintain aspect ratio while filling the container */
}


body {
  background-color: #fff; /* Making the background white */
}

#buttons-container {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  align-items: center; /* Center the buttons vertically */
  flex-wrap: wrap;
height: 50vh; /* Adjust this value to position the buttons vertically */
  margin-top: 25vh; /* Adjust this value to control the vertical spacing from the top */
}

.button-wrapper {
  width: 45%; /* You can increase the width percentage to make the buttons bigger */
  padding: 5px;
  text-align: center;
}

.button-wrapper img {
  width: 100%; /* Set the image width to 100% of the container */
  height: auto;
  margin: 10 px;
}

#buttons-container a {
  width: 50%; /* Adjust this value to change the button size */
  padding: 15px; /* Padding around the buttons */
}

#buttons-container img {
  width: 17%;
  height: auto;
}

.pixel-button {
  display: inline-block;
  margin: 5px;
}

.pixel-button img {
  width: 100px; /* Set the desired width */
}

#placeholder-image {
  display: block; /* Initially visible */
  width: 100%;
  height: auto;
}

#animated-cutscene {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  overflow: hidden;
}

#intro-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Styling for the footer */
footer {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

/* Objectives Section */
#objectives {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

#objectives div {
  text-align: center;
  width: 30%;
  margin: 10px;
}

#objectives img {
  max-width: 100%;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin: 20px auto;
}

.game-container {
    width: 60%;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.game-container img {
    width: 100%;
    height: auto;
}

.live-minimap {
    width: 25%;
    border: 1px solid #ccc;
    height: 400px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.live-minimap img {
    max-width: 60%;
    height: auto;
}

.items-container {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    flex-wrap: wrap;
}

.item {
    width: 15%;
    text-align: center;
}

.item img {
    max-width: 70%; /* Adjust the size of the gifs */
    height: auto;
}

.item p {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.logos-container {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  align-items: center; /* Center the buttons vertically */
  flex-wrap: wrap;
}

.atari-logo,
.verifryd-logo {
  max-width: 10%;
  margin: 10px;
  text-align: center;
  justify-content: center; /* Center the buttons horizontally */
}

.fade-out {
  animation: fadeOut 0.5s forwards;
}

/* Community Contributions Section */
#community-contributions {
  padding: 10px;
  background-color: #333;
}

#community-contributions #chat-box {
  border: 2px solid #fff;
  padding: 10px;
}

#community-contributions a {
  color: #fff;
  text-decoration: none;
}

/* Daily Clues & Puzzles Section */
#daily-clues {
  padding: 20px;
  background-color: #444;
}

#daily-clues #clue-placeholder1,
#daily-clues #clue-placeholder2 {
  border: 2px dashed #fff;
  height: 200px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Game Background Section */
#game-background {
  background-color: #444;
  color: #fff;
  padding: 20px;
  background-image: url('assets/StellaXBackground.png');
  background-size: cover;
}

/* Warren Robinett Tribute Section */
#robinett-tribute {
  padding: 20px;
  background-color: #555;
  text-align: center;
}

#robinett-tribute img {
  max-width: 100%;
  margin: 10px;
}

/* Reuse general styling from previous pages (e.g., header, footer) */

