body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: center;
    padding: 50px;
}

.header h1 {
    margin: 0;
    padding: 0;
    color: #333;
}

.header p {
    color: #666;
    font-size: 18px;
}

.game-container {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

.game-container img {
    max-width: 100%;
}

.items-container {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

.item {
    width: 30%;
    text-align: center;
}

.item img {
    max-width: 100%;
    height: auto;
}

.item p {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}
